
*.v2
BBS_Weatherstation_Alpha/.vs/BBS_Weatherstation_SeriesA/v17/.suo
*.dll
*.vsidx
*.vsidx
*.v2
*.vsidx
*.vsidx
BBS_Weatherstation_Alpha/.vs/BBS_Weatherstation_SeriesA/v17/.suo
*.v2
*.pdb
*.dll
*.dll
