@page "/area51"
<h3>Area51</h3>
<PageTitle>Area51</PageTitle>

<label @bind="topics">Current Settings</label>

<div>
    <div>

        <button @onclick=TriggerCleanup>Run Cleanup</button>

        <hr />

        <select @bind="query.Source" class="form-select" aria-label="Default select example">
            <option value="localhost">Localhost</option>
            <option value="192.168.0.10">MY - Raspberry</option>
        </select>

        <hr />

        <select @bind="query.UnitOfWork" class="form-select" aria-label="Default select example">
            <option value="sqlclient">SQLClient</option>
            <option value="efcore">EFCore</option>
            <option value="localstorage">LocalStorage</option>
        </select>

        <hr />

        <select @bind="query.Topic" class="form-select" aria-label="Default select example">
            <option value="temp">Temperatur</option>
            <option value="humidity">Luftfeuchtigkeit</option>
            <option value="pressure">Luftdruck</option>
        </select>

        <hr />

        <select @bind="query.Timespan" class="form-select" aria-label="Default select example">
            <option value="today">Heute</option>
            <option value="yesterday">Gestern</option>
            <option value="week">1 Woche</option>
            <option value="month">1 Monat</option>
            <option value="year">1 Jahr</option>
            <option value="all">Alle</option>
        </select>
    </div>
   <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-12 my-5">
                <RadzenChart @ref="chart0">
                    <RadzenLineSeries Data="@queryRespone.Result" CategoryProperty="timestamp" Title="@query.Topic" LineType="LineType.Dashed" ValueProperty="value">
                        <RadzenMarkers MarkerType="MarkerType.Square" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" FormatString="@queryRespone.Format" />
                </RadzenChart>
            </div>
        </div>
    </div>
</div>
@code {
    RadzenChart chart0 = new();

    private BBS_Wittlich.Weatherstation.Data.Query query = new();

    private void RefreshTest()
    {
        chart0.Reload();
    }


    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        DataFetcher(query);
    }

    /*
    * Formatting 
    * 1 Day: 
    * 7 Days:
    * 30 Days:
    * All Days:  Just the Date 
    * 
    * 
    */

    private async void TriggerCleanup()
    {
        //BBS_Wittlich.Weatherstation.Data.Management.DataManager dataManager = new BBS_Wittlich.Weatherstation.Data.Management.DataManager();
        //dataManager.RunCleaner();

        RefreshTest();
    }

}
