<html>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<meta>
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
</meta>

<head>
    <title>BBS Wittlich Wettterstation - Vers. 0.1</title>
</head>

<body>
    <div id="main_header">
        <img src="{{ url_for('static', filename='img/logo-header.png') }}" alt="">
        <h1 id="title">Wetterstation</h1>
        <p id="last_updated">Zuletzt aktualisiert am: [PLACEHOLDER_LASTUPDATED]</p>
    </div>

    <div id="content">
        <!--ONLY PLACEHOLDER: Dynamic generated Div Container from Django in Relation to the inserted JSON File on the Server-->

        <!--CAKE DIAGRAM-->
        <div class="content_container">
            <h3>Luftfeuchtigkeit</h3>
            <h2 id="humidity">{{humidity}}</h2>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <script type="text/javascript">
                var humidity = document.getElementById('humidity').textContent;
                fPie(humidity);
            </script>

        </div>
        <!--CAKE DIAGRAM-->

        <!--CAKE DIAGRAM-->
        <div class="content_container">
            <h3>Luftfeuchtigkeit</h3>
            <h2 id="humidity">{{airpressure}}</h2>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <script type="text/javascript">
                var humidity = document.getElementById('humidity').textContent;
                fPie(humidity);
            </script>

        </div>
        <!--CAKE DIAGRAM-->

        <!--CAKE DIAGRAM-->
        <div class="content_container">
            <h3>Luftfeuchtigkeit</h3>
            <h2 id="humidity">{{temperature}}</h2>
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            <script type="text/javascript">
                var humidity = document.getElementById('humidity').textContent;
                fPie(humidity);
            </script>

        </div>
        <!--CAKE DIAGRAM-->

        <!--ONLY PLACEHOLDER: Dynamic generated Div Container from Django in Relation to thhe inserted JSON File on the Server-->
    </div>

    <div id="footer">

    </div>
</body>

</html>