@inherits LayoutComponentBase
@using MudBlazor
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <a href="/">BBS Weatherstation</a>
    </MudAppBar>
    <MudDrawer ClipMode="@DrawerClipMode.Always" @bind-Open="@_drawerOpen">
        <MudNavMenu>
            <MudNavLink Href="/dashboard" >Dashboard</MudNavLink>
            <MudNavLink Disabled="true" Href="/tvview" Match="NavLinkMatch.Prefix">TV-View</MudNavLink>
            <MudNavLink Disabled="true" Href="/doku" Match="NavLinkMatch.Prefix">Dokumentation</MudNavLink>
            <MudNavLink Disabled="true" Href="/area51" Match="NavLinkMatch.Prefix">Area51</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}

